/* BlogPost.css */
.blog-post {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.blog-post h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

.blog-post p {
    font-size: 16px;
    color: #555;
}
