/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    background-color: white;
}

h1 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #fff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
    color: #007bff;
}


@media (max-width: 768px) {
    body {
        padding: 10px;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #007bff;
    color: white;
}

.navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-links {
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
}

.navbar-links a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.navbar-links a:hover {
    color: #d3d3d3;
}
